# Игнорируем виртуальное окружение с названием "bot"
bot/

# Игнорируем конфигурационные файлы IDE
.idea/
.vscode/

# Игнорируем кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы с переменными окружения
.env

# Игнорируем логи
*.log

